{% extends base_template_name|default:"base.html" %}


{% load core_tags %}
{% load faq_tags %}
{% load markdownify %}
{% load news_tags %}
{% load photo_tags %}
{% load simple_open_graph %}


{% block title %}{{ object.name }}{% endblock title %}


{% block metas %}
    {{ block.super }}
    {% with object.details|markdownify|striptags|truncatechars:300 as og_description %}
        {% opengraph_meta "type='article', url=object.get_absolute_url, title=object.name, description=og_description" %}
    {% endwith %}
{% endblock metas %}


{% block content %}
    <div class="flex flex-auto gap-8">
        <div class="md:w-2/3 text-lg">

            <h1 class="font-bold text-6xl">{{ object.name }}</h1>

            <div class="prose-slate prose-xl py-4">
                {{ object.details|markdownify }}
            </div>

            <div class="flex flex-col gap-2 divide-y divide-gray-300 py-4 text-xl">
                <div><strong>When:</strong> {{ object.get_day_of_week_display }} at {{ object.run_time }}</div>
                <div><strong>Where:</strong> {{ object.location }}</div>
                <div><strong>Run Leader:</strong> <a href="mailto:{{ object.contact.email }}">{{ object.contact.full_name }}</a></div>
            </div>

            {% get_latest_news_for_object object as news_list %}
            {% if news_list %}
                <h3 class="text-2xl">Latest News</h3>
                {% for news in news_list|slice:":3" %}
                    <div class="{% if news.alert_status %}relative px-3 py-3 mb-4 border rounded alert-{{ news.alert_status }}{% endif %}">
                        <h4>{{ news.pub_date|date }} - {{ news.title }}</h4>
                        {{ news.body|markdownify }}
                    </div>
                {% endfor %}
            {% endif %}

            {% get_faqs_for_object object as faq_list %}
            {% if faq_list %}
                <h2 class="font-bold text-4xl py-4">Frequently Asked Questions</h2>
                {% for faq in faq_list %}
                    <h4 class="font-bold text-2xl py-4">{{ faq.question }}</h4>
                    <div class="prose prose-md">{{ faq.answer|markdownify }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="md:w-1/3">
            {% get_photos_by_machine_tags object.get_machine_tags num=10 random=1 as photos_list %}
            {% include "includes/flickr_photos.html" with photos=photos_list %}
        </div>
    </div>
{% endblock content %}
