{% load flickr %}
{% load photo_tags %}
{% load thumbor_tags %}


{% if not photos %}
    {% get_random_photos 7 as photos %}
{% endif %}

{% if photos %}
    <div class="grid grid-cols-1 gap-8">
        {% for photo in photos %}
            <div class="sm:w-full md:w-full bg-gray-200 p-2 border-2 border-black rounded-lg border-gray-200">
                    <a href="{{ photo.photopage_url }}">
                        <img class="p-1 max-w-full h-auto rounded-lg"
                            src='{% thumbor_url photo.get_medium_url height=400 width=400 smart=True %}'
                            onerror="this.onerror=null; this.src='{{ photo.get_medium_url }}';">
                    </a>
                    {% if photo.description %}
                        <div class="text-center font-medium">
                            <h4>{{ photo.description|safe }}</h4>
                        </div>
                    {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="flex flex-auto">
        <div class="sm:w-full md:w-full grid grid-cols-1 gap-2">
            <div class="">
                <a href="#">
                    <img class="max-w-full h-auto rounded border-gray-200 img-responsive border-1 rounded-xl" src="https://placehold.co/400x400">
                </a>
                <div class="caption">
                    <h4>photo.0.description</h4>
                </div>
            </div>
            <div>
                <a href="#">
                    <img class="max-w-full h-auto rounded border-gray-200 img-responsive border-1 rounded-xl" src="https://placehold.co/400x400">
                </a>
                <div class="caption">
                    <h4>photo.1.description</h4>
                </div>
            </div>
            <div>
                <a href="#">
                    <img class="max-w-full h-auto rounded border-gray-200 img-responsive border-1 rounded-xl" src="https://placehold.co/400x400">
                </a>
                <div class="caption">
                    <h4>photo.2.description</h4>
                </div>
            </div>
            <div>
                <a href="#">
                    <img class="max-w-full h-auto rounded border-gray-200 img-responsive border-1 rounded-xl" src="https://placehold.co/400x400">
                </a>
                <div class="caption">
                    <h4>photo.2.description</h4>
                </div>
            </div>
        </div>
    </div>
{% endif %}
