:80 {
    # encode gzip zstd

    root * /src

    # rewrite /media/     /media_root/
    # rewrite /static/    /static_root/

    @notStatic {
        not path /media_root/* /static_root/* /media/* /static/*
    }

    reverse_proxy @notStatic web:8000

    file_server browse
}

# :80/media/ {
#     root * /media_root/
# }
