{% extends base_template_name|default:"base.html" %}

{% load simple_open_graph %}

{% block title %}About the Lawrence Trail Hawks{% endblock title %}

{% block opengraph %}
    {% with "The Lawrence Trail Hawks, founded by Lawrence area trail and ultra runners, promote and care for the Lawrence trails. All abilities welcome." as og_description %}
        {% opengraph_meta "type='website', url='/about/', title='About the Lawrence Trail Hawks', description=og_description, image='https://trailhawks.com/static/img/hawk-head.png'" %}
    {% endwith %}
{% endblock opengraph %}


{% block content %}
    <div class="flex flex-auto gap-8">
        <div class="md:w-2/3 text-lg py-4">
            <h1 class="font-bold text-6xl py-4">About the Lawrence Trail&nbsp;Hawks</h1>

            <div class="prose prose-xl">
                <p>The Hawks The Lawrence Trail Hawks, founded by Lawrence area trail and ultra runners, will run on, promote and care for the Lawrence trails, including the Kansas River Trails (sometimes known as the Sand Rat trails), and the Clinton Lake North Shore Trails. We'll work with the Department of Parks and Wildlife and the Kansas Trails Council to help keep the trails groomed and free of trash. We'll stage events, and help with other groups' events that meet our goals of promoting and caring for the trails. We will take care of the trails, our fellow Trail Hawk members, and all others who have interest in the trails similar to our own. We might not do as much as we’d like, but we'll do what we can. Please check this blog page for news of Lawrence Trail Hawks events.</p>
                <p>Questions? Want to join the Lawrence Trail Hawks?
                    <a href="{% url 'contact' %}">Contact us</a>
                    or fill out and send in our membership application.</p>
                <p>See you on the trails!</p>
            </div>

            <h2 class="font-bold text-4xl py-4">Inclusivity Policies</h2>

            <div class="prose prose-xl">
                <p>The Lawrence Trail Hawks recognize the diversity of athletes, and intentionally creates space for differences that make us unique. This is in accordance with our club motto, "kindness to life and land" and reflects the values of community and inclusiveness.</p>
                <p>It is important that athletes feel comfortable and safe within the space of our organization and that we provide and promote the participation of all people in our club events and activities. This is especially important for those with a history of marginalized identities. All athletes and volunteers have the right to participate fully in our events, free from discrimination.</p>
                <p>In order to participate or volunteer in Lawrence Trail Hawks activities, you must be able to respect the identity of runners in regards to race, sexuality, gender identity, physical ability, age and body type. Any discriminatory language and behavior should be brought to the attention of the race director/event leader as soon as it is safe to do so. Anyone found speaking or behaving in a manner that diminishes the ability for fellow athletes and volunteers to participate in a safe, comfortable, and inclusive environment will be disqualified from the race or asked to leave the event and risks being barred from future Lawrence Trail Hawks races and events.</p>
            </div>
        </div>
    </div>
{% endblock content %}
