{% extends base_template_name|default:"base.html" %}


{% load markup %}


{% block title %}Frequently Asked Questions{% endblock title %}


{% block content %}
  <section id="faqs">

    <div class="flex flex-wrap ">
      <div class="pr-4 pl-4 md:w-full">
        <h1>Frequently Asked Questions</h1>
      </div>
    </div>

    {% regroup object_list by content_type as obj_list %}
    {% for obj in obj_list %}
      <div class="flex flex-wrap ">
        <div class="pr-4 pl-4 md:w-full">
          <h2>{{ obj.grouper|default:"Club"|title }} Questions</h2>
        </div>
      </div>
      <div class="flex flex-wrap ">
        {% for faq in obj.list %}
          <div class="md:w-1/2 pr-4 pl-4">
            <h3>{{ faq.question }}</h3>
            {{ faq.answer|markdown }}
          </div>
          {% if forloop.counter|divisibleby:2 %}</div><div class="flex flex-wrap ">{% endif %}
        {% endfor %}
      </div>
    {% endfor %}

  </section>
{% endblock content %}
