{% extends base_template_name|default:"base.html" %}


{% load markdownify %}


{% block title %}Frequently Asked Questions{% endblock title %}


{% block content %}
    <div id="faqs" class="w-full">
        <section class="py-4">
            <h1 class="font-bold text-3xl md:text-6xl py-4">Frequently Asked Questions</h1>
        </section>

        {% regroup object_list by content_type as obj_list %}
        {% for obj in obj_list %}
            <section class="pb-12">
                <h2 class="font-bold text-2xl md:text-4xl py-4 border-b border-gray-200">{{ obj.grouper|default:"Club"|title }} Questions</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 pt-6">
                    {% for faq in obj.list %}
                        <div>
                            <h3 class="font-bold text-xl md:text-2xl py-2 text-red-900">{{ faq.question }}</h3>
                            <div class="prose prose-gray">
                                {{ faq.answer|markdownify }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock content %}
