{% extends base_template_name|default:"base.html" %}


{% load race_tags %}
{% load simple_open_graph %}


{% block title %}{{ object.name }}{% endblock title %}


{% block opengraph %}
    {% with "Trail Hawks member profile and race results" as og_description %}
        {% if object.avatar %}
            {% opengraph_meta "type='profile', url=object.get_absolute_url, title=object.full_hawk_name, image=object.avatar.url, description=og_description" %}
        {% else %}
            {% opengraph_meta "type='profile', url=object.get_absolute_url, title=object.full_hawk_name, image='https://trailhawks.com/static/img/hawk-head.png', description=og_description" %}
        {% endif %}
    {% endwith %}
{% endblock opengraph %}


{% block content %}
    <h1 class="font-bold text-6xl">{{ object.full_hawk_name }}</h1>

    <div class="flex items-start">
        {% if object.avatar %}
            <a class="pull-left" href="#">
                <img class="media-object" src="{{ object.avatar.url }}" alt="...">
            </a>
        {% endif %}
        <div class="flex-1">
            <dl {% comment %}class="dl-horizontal"{% endcomment %}>
                <dt>Hawk Name:</dt>
                <dd>{{ object.hawk_name }}</dd>

                {% if object.position %}
                    <dt>Position:</dt>
                    <dd>{{ object.get_position }}</dd>
                {% endif %}

                <dt>Member since:</dt>
                <dd>{{ object.member_since|date }}</dd>
            </dl>
        </div>
    </div>

    {% if object.get_race_results %}
        <h3 class="text-2xl">Race Results</h3>
        {{ object.racer_set.results_set }}
        <ul>
            {% for result in object.get_race_results %}
                <li>
                    Ran
                    <a class="hover:bg-yellow-400 underline" href="{{ result.race.get_absolute_url }}">{{ result.race.title }}</a>
                    in {{ result.time }}
                    on {{ result.race.start_datetime|date }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if object.get_race_reports %}
        <h3 class="text-2xl">Race Reports</h3>
        <ul>
            {% for result in object.get_race_reports %}
                <li>
                    <a class="hover:bg-yellow-400 underline" href="{{ result.report }}">{{ result.title }}</a>
                    for
                    <a class="hover:bg-yellow-400 underline" href="{{ result.race.get_absolute_url }}">{{ result.race.title }}</a>
                    on {{ result.race.start_datetime|date }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if object.get_blog_posts %}
        <h3 class="text-2xl">Blog Posts</h3>
        <ul>
            {% for post in object.get_blog_posts %}
                <li>
                    <a class="hover:bg-yellow-400 underline" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    on {{ post.publish|date }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}
