{% extends base_template_name|default:"base.html" %}


{% block title %}Trail Hawk Members{% endblock title %}


{% block content %}
    <div class="flex flex-auto gap-8">
        <div class="md:w-2/3 text-lg">
            <section class="py-4">
                <h1 class="font-bold text-6xl py-4">Club Members and Info</h1>

                <p class="text-2xl font-light py-2">
                    Brought to you by runners,
                    <a class="hover:bg-yellow-400 underline" href="#members">members</a>,
                    and
                    <a class="hover:bg-yellow-400 underline" href="#officers">officers</a>
                    like you!
                </p>

                <p class="py-8">
                    <a class="py-2 px-3 text-2xl font-normal leading-tight text-center text-white align-middle bg-red-600 rounded border select-none whitespace-no-wrap hover:bg-red-700 hover:text-yellow-100" href="/signup/">Become a member!</a>
                </p>
            </section>

            <section class="py-4" id="members">
                <h2 class="text-4xl font-bold py-4">Members</h2>
                <div class="grid grid-cols-2 gap-x-4 gap-y-1">
                    {% for member in object_list %}
                        <a class="hover:bg-yellow-400 underline" href="{{ member.get_absolute_url }}">{{ member.full_hawk_name }}</a>
                    {% endfor %}
                </div>
                {% block member_detail %}{% endblock %}
            </section>

            <section class="py-4" id="officers">
                <h2 class="text-4xl font-bold py-4">Officers</h2>
                <div class="grid grid-cols-2 gap-x-4 gap-y-1">
                    {% for term in current_officers %}
                        <div class="font-bold">{{ term.office.name }}</div>
                        <div><a class="hover:bg-yellow-400 underline" href="{{ term.member.get_absolute_url }}">{{ term.member }}</a></div>
                    {% endfor %}
                </div>
            </section>

            {% comment %}
            <section class="py-4">
                <h2 class="text-4xl font-bold py-4">Run Leaders</h2>
                <div class="grid grid-cols-2 gap-x-4 gap-y-1 divide-y">
                    {% for run in run_leaders %}
                        <div>{{ run.name }}</div>
                        <div><a href="{{ run.contact.get_absolute_url }}">{{ run.contact }}</a></div>
                    {% endfor %}
                </div>
            </section>
            {% endcomment %}

            {% comment %}
            <section class="py-4">
                <h2 class="text-4xl font-bold py-4">Race Directors</h2>
                <div class="grid grid-cols-2 gap-x-4 gap-y-1 divide-y">
                    {% for race in race_leaders %}
                        <div>{{ race }}</div>
                        {% for rd in race.race_directors.all %}
                            <div><a href="{{ rd.get_absolute_url }}">{{ rd }}</a></div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </section>
            {% endcomment %}

            {% comment %}
            <section class="py-4">
                <h2 class="text-4xl font-bold py-4">Previous Officers</h2>
                <div class="grid grid-cols-2 divide-x">
                    {% for term in previous_officers %}
                        {% ifchanged %}<div>{{ term.office.name }}</div>{% endifchanged %}
                        <div><a href="{{ term.member.get_absolute_url }}">{{ term.member }}</a> ({{ term.start|date:"Y" }}{% if term.start|date:"Y" != term.end|date:"Y"%} &ndash; {{ term.end|date:"Y" }}{% endif %})</div>
                    {% endfor %}
                </div>
            </section>
            {% endcomment %}
        </div>

        <div class="md:w-1/3">
        </div>
    </div>
{% endblock content %}
