{% extends base_template_name|default:"base.html" %}


{% load simple_open_graph %}


{% block title %}Events{% endblock title %}


{% block opengraph %}
    {% with "Trail Hawks events, races, and community gatherings in Lawrence, Kansas" as og_description %}
        {% opengraph_meta "type='website', url='/events/', title='Trail Hawks Events', image='https://trailhawks.com/static/img/hawk-head.png', description=og_description" %}
    {% endwith %}
{% endblock opengraph %}


{% block content %}
    <h1 class="font-bold text-6xl">Events</h1>

    <ul>
        {% for event in event_list %}
            <li><a href="{% url 'event_detail' slug=event.slug %}">{{ event }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}
