{% extends base_template_name|default:"base.html" %}

{% load core_tags %}
{% load faq_tags %}
{% load markdownify %}
{% load micawber_tags %}
{% load simple_open_graph %}


{% block title %}{{ object.title }}{% endblock title %}


{% block opengraph %}
    {% with object.body|striptags|truncatechars:300 as og_description %}
        {% opengraph_meta "type='article', url=object.get_absolute_url, title=object.title, image='https://trailhawks.com/static/img/hawk-head.png', description=og_description" %}
    {% endwith %}
{% endblock opengraph %}

{% block content %}
    <div class="flex flex-auto gap-8">
        <div class="md:w-2/3">

            <h1 class="font-bold text-6xl">{{ object.title }}</h1>

            <div class="text-xl font-light">{{ object.body|oembed:"600x600"|markdownify }}</div>

            {% if object.races.upcoming.count %}
                <h3 class="text-2xl">Upcoming races</h3>
                <ul>
                    {% for race in object.races.upcoming %}
                        <li><a href="{{ race.get_absolute_url }}">{{ race.annual }} {{ race.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if object.races.complete.count %}
                <h3 class="text-2xl">Past races</h3>
                <ul>
                    {% for race in object.races.complete %}
                        <li><a href="{{ race.get_absolute_url }}">{{ race.annual }} {{ race.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {# render_facebook_like obj=object #}

            {% get_faqs_for_object object as faq_list %}
            {% if faq_list %}
                <h3 class="text-2xl">Frequently Asked Questions</h3>
                {% for faq in faq_list %}
                    <h4>{{ faq.question|oembed:"600x600"|markdownify }}</h4>
                    {{ faq.answer|oembed:"600x600"|markdownify }}
                {% endfor %}
            {% endif %}
        </div>

        <div class="md:w-1/3">
            <div class="bg-white border border-gray-300 rounded">
                <div class="bg-gray-50 px-4 py-2 border-b border-gray-300">
                    <h3 class="text-2xl font-bold">Panel title</h3>
                </div>
                <div class="p-4">
                    {{ object.get_machine_tags }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
