{% load static %}

{% block navbar %}
    <nav class="flex flex-col gap-2 content-between items-start" role="navigation">
        <img class="w-full object-fill" src="{% static 'img/header-hawk-2023.png' %}">
        <div class="flex relative flex-auto content-between items-center py-3 px-4" role="navigation">
            <div class="flex-grow items-center">
                <div class="flex flex-auto gap-8 text-red-950">
                    <a href="/" class="hover:underline">Home</a>
                    <a href="/course/" class="hover:underline">Course</a>
                    <a href="/calendar/" class="hover:underline">Calendar</a>
                    <a href="/travel/" class="hover:underline">Travel</a>
                    <a href="/maps/" class="hover:underline">Interactive Maps</a>
                    <a href="{% url 'race_gallery' %}" class="hover:underline">Gallery</a>
                    <a href="https://ultrasignup.com/results_event.aspx?did=111695" class="hover:underline">Results</a>
                    <a href="/signup/" class="font-bold hover:underline">SIGN UP!</a>
                </div>
                <div class="flex flex-auto gap-4 mt-2">
                    <a href="https://www.facebook.com/groups/hawkhundred/" class="text-lg"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.flickr.com/photos/trailhawks" class="text-lg"><i class="fa fa-flickr"></i></a>
                </div>
            </div>
        </div>
    </nav>
{% endblock navbar %}
