{% load static %}

{% block navbar %}
    <div class="navbar-wrapper">
        <div class="container mx-auto sm:px-4">
            <div class="masthead">
                <!-- <img src="{% static 'img/header-hawk.jpg' %}"/> -->
            </div>
            <nav class="flex relative flex-auto content-between items-center py-3 px-4 navbar-default navbar-static-top" role="navigation">
                <div class="container mx-auto sm:px-4">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="inline-block pt-1 pb-1 mr-4 text-lg whitespace-no-wrap" href="/">Hawk Hundred</a>
                    </div>
                    <div class="hidden flex-grow items-center">
                        <ul class="flex flex-auto pl-0 mb-0 list-none list-reset">
                            <li><a href="/course/">Course</a></li>
                            <li><a href="/calendar/">Calendar</a></li>
                            <li><a href="{% url 'race_faqs' %}">FAQs</a></li>
                            <li><a href="/travel/">Travel</a></li>
                            <li><a href="/maps/">Interactive Maps</a></li>
                            <li><a href="{% url 'race_gallery' %}">Gallery</a></li>
                            <li><a href="https://ultrasignup.com/results_event.aspx?did=61389">Results</a></li>
                            {% comment %}
            <li><a href="{% url 'race_results' %}">Results</a></li>
              {% endcomment %}
                            <li><a href="/signup/">SIGN UP!</a></li>
                        </ul>
                        <ul class="flex flex-auto pl-0 mb-0 list-none list-reset navbar-right">
                            <li><a href="https://www.facebook.com/groups/hawkhundred/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr"></i></a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </div>
    </div>
{% endblock navbar %}
