{% load static %}

{% block navbar %}
    <div class="p-2">
        <nav class="flex flex-col gap-2 content-between items-start" role="navigation">
            <div class="masthead"></div>
            <nav class="flex relative flex-auto content-between items-center py-3 px-4 navbar-default navbar-static-top" role="navigation">
                <div class="flex-grow items-center">
                    <div class="flex flex-auto gap-4 text-red-950">
                        <span><a href="/course/">Course</a></span>
                        <span><a href="/calendar/">Calendar</a></span>
                        {% comment %}
                        <li><a href="{% url 'race_faqs' %}">FAQs</a></li>
                        {% endcomment %}
                        <span><a href="/travel/">Travel</a></span>
                        <span><a href="/maps/">Interactive Maps</a></span>
                        <span><a href="{% url 'race_gallery' %}">Gallery</a></span>
                        <span><a href="https://ultrasignup.com/results_event.aspx?did=61389">Results</a></span>
                        <span><a href="/signup/">SIGN UP!</a></span>
                    </ul>
                    <ul class="flex flex-auto pl-0 mb-0 list-none list-reset navbar-right">
                        <span><a href="https://www.facebook.com/groups/hawkhundred/"><i class="fa fa-facebook"></i></a></span>
                        <span><a href="https://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr"></i></a></span>
                    </ul>
                </div><!--/.nav-collapse -->
            </nav>
        </div>
    </div>
{% endblock navbar %}
