{% extends base_template_name|default:"base.html" %}


{% load flickr %}
{% load micawber_tags %}


{% block title %}Sponsors{% endblock title %}


{% block content %}
  <div class="flex flex-wrap ">
    <div class="md:w-2/3 pr-4 pl-4">
      <h1>Sponsors</h1>

      {% for sponsor in object_list %}
        <div>
          <h2>{{ sponsor.name }}</h2>
          {% if sponsor.logo %}
            <a href="{{ sponsor.url }}"><img class="img-responsive max-w-full h-auto border-1 border-gray-200 rounded p-1" src="{{ sponsor.logo.url }}" alt="{{ sponsor.title }}">{{ sponsor.get_logo_url }}</a>
          {% endif %}
          {% if sponsor.address %}
            <address>
              {{ sponsor.address }}
            </address>
          {% endif %}
          <p><strong>Discount: </strong>{{ sponsor.discount_detail }}</p>
        </div>
        <hr>
      {% endfor %}
    </div>

    <div class="md:w-1/3 pr-4 pl-4">
      {% include "includes/flickr_photos.html" %}
    </div>
  </div>
{% endblock content %}
