{% extends "races/base.html" %}


{% block title %}Racers Index{% endblock title %}

{% block content %}
    <div class="main" id="main-two-columns">

        <div class="left" id="main-content">
            <ul>
                {% for racer in object_list %}
                    <li><a href="{{ racer.get_absolute_url }}">{{racer}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="right sidebar" id="sidebar">
        </div>

        <div class="clearer">&nbsp;</div>

    </div>
{% endblock content %}
