{% extends "races/base.html" %}


{% block title %}Races{% endblock title %}


{% block content %}
    <div class="flex flex-auto gap-8">
        <div class="md:w-full">
            {% if upcoming_races %}
                <section class="py-4">
                    <h2 class="font-bold text-6xl py-4">
                        Upcoming events
                        <a class="text-4xl inline-block font-normal leading-normal underline" href="{% url 'race_ical' %}">ICAL</a>
                    </h2>
                    <div class="grid grid-cols-3 gap-x-2 gap-y-3">
                        {% for race in upcoming_races %}
                            {% include 'includes/_race.html' with race=race %}
                        {% endfor %}
                    </div>
                </section>
            {% endif %}

            {% if completed_races %}
                <section class="py-4">
                    <h2 class="font-bold text-6xl py-4">Past events</h2>
                    <div class="grid grid-cols-3 gap-x-2 gap-y-3">
                        {% for race in completed_races %}
                            {% include 'includes/_race.html' with race=race %}
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
        </div>
    </div>
{% endblock content %}
