{% extends base_template_name|default:"base.html" %}


{% load core_tags %}
{% load markdownify %}
{% load simple_open_graph %}


{% block title %}{{ object.title }}{% endblock title %}


{% block metas %}
    {{ block.super }}
    {% with object.body|markdownify|striptags|truncatechars:300 as og_description %}
        {% opengraph_meta "type='article', url=object.get_absolute_url, title=object.title, description=og_description" %}
    {% endwith %}
{% endblock metas %}


{% block content %}
    <div class="flex flex-col md:flex-row gap-8">
        <div class="w-full md:w-2/3">
            <section class="py-4">
                <h1 class="font-bold text-3xl md:text-6xl py-4">{{ object.title }}</h1>
            </section>

            <h4>
                {{ object.publish|date}} by
                <a class="underline hover:bg-yellow-300" href="{{ object.author.get_absolute_url }}">{{ object.author}}</a>
            </h4>

            {% if object.repost_url and object.repost_date %}
                <div class='original-post'>
                    <p>Originally published on <a class="underline hover:bg-yellow-300" href="{{ object.repost_url }}">{% firstof object.repost_date|date 'unknown' %}</a></p>
                </div>
            {% endif %}

            <div class="prose md:prose-xl max-w-none">
                {{ object.body|markdownify }}
            </div>

            {# render_facebook_like obj=object #}

            <ul class="pager">
                {% if object.get_previous_by_publish %}
                    <li class="underline hover:bg-yellow-300">
                        <a href="{{ object.get_previous_post.get_absolute_url }}">&larr; Older</a>
                    </li>
                {% endif %}

                {% if object.get_next_by_publish %}
                    <li class="underline hover:bg-yellow-300">
                        <a href="{{ object.get_next_post.get_absolute_url }}">Newer &rarr;</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="w-full md:w-1/3">
            {% include "includes/flickr_photos.html" %}
        </div>
    </div>
{% endblock content%}
