{% load flickr %}
{% load photo_tags %}
{% load thumbor_tags %}


{% if not photos %}
    {% get_random_photos 7 as photos %}
{% endif %}

{% if photos %}
    <div class="grid grid-cols-2 md:grid-cols-1 gap-4">
        {% for photo in photos %}
            <div class="bg-gray-200 p-2 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                <a href="{{ photo.photopage_url }}">
                    <img class="w-full h-auto object-cover aspect-square rounded-lg lazy-load"
                         data-src='{% thumbor_url photo.get_medium_url height=400 width=400 smart=True %}'
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                         onerror="this.onerror=null; this.src='{{ photo.get_medium_url }}';">
                </a>
                {% if photo.description %}
                    <div class="text-center font-medium mt-2 text-sm md:text-base">
                        <h4>{{ photo.description|safe }}</h4>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="flex flex-auto">
        <div class="sm:w-full md:w-full grid grid-cols-1 gap-2">
            <div class="">
                <a href="#">
                    <img class="max-w-full h-auto rounded border-gray-200 img-responsive border-1 rounded-xl" src="https://placehold.co/400x400">
                </a>
                <div class="caption">
                    <h4>photo.0.description</h4>
                </div>
            </div>
            <div>
                <a href="#">
                    <img class="max-w-full h-auto rounded border-gray-200 img-responsive border-1 rounded-xl" src="https://placehold.co/400x400">
                </a>
                <div class="caption">
                    <h4>photo.1.description</h4>
                </div>
            </div>
            <div>
                <a href="#">
                    <img class="max-w-full h-auto rounded border-gray-200 img-responsive border-1 rounded-xl" src="https://placehold.co/400x400">
                </a>
                <div class="caption">
                    <h4>photo.2.description</h4>
                </div>
            </div>
            <div>
                <a href="#">
                    <img class="max-w-full h-auto rounded border-gray-200 img-responsive border-1 rounded-xl" src="https://placehold.co/400x400">
                </a>
                <div class="caption">
                    <h4>photo.2.description</h4>
                </div>
            </div>
        </div>
    </div>
{% endif %}
