{% extends base_template_name|default:"base.html" %}


{% block title %}Page not found{% endblock %}


{% block content %}
  <div class="flex flex-wrap ">
    <div class="md:w-full pr-4 pl-4">
      <h1>Uh oh! Good job the page you were trying to get couldn't be found.</h1>
      <p class="text-xl font-light">I couldn't find the page you were looking for so here's a Tarsiers with his beloved stick.</p>
      <img class="img-responsive" src="{{ STATIC_URL }}img/stick.jpg">
    </div>
  </div>
{% endblock content %}
