{% extends "layouts/tailwind.html" %}

{% load core_tags %}
{% load humanize %}
{% load members_tags %}
{% load race_tags %}
{% load run_tags %}
{% load static %}

{% block navbar %}
    <div class="p-2">
        <nav class="flex flex-col gap-2 content-between items-start" role="navigation">
            <div class="flex flex-row">
                <img class="h-20" src="{% static 'img/hawk-head.png' %}">
                <a href="/">
                    <span class="font-bold text-7xl text-red-950">Lawrence Trail Hawks</span>
                </a>
            </div>
            <div class="flex flex-auto gap-3 text-red-950 *:border-1 *:border-red-500">
                <span><a class="underline hover:bg-yellow-300" href="{% url 'race_index' %}">Races &amp; Events</a></span>
                <span><a class="underline hover:bg-yellow-300" href="{% url 'run_list' %}">Group Runs</a></span>
                <span><a class="underline hover:bg-yellow-300" href="{% url 'blog_list' %}">Blog</a></span>
                <span><a class="underline hover:bg-yellow-300" href="{% url 'link_list' %}">Links</a></span>
                <span><a class="underline hover:bg-yellow-300" href="{% url 'member_list' %}">Members</a></span>
                <span><a class="underline hover:bg-yellow-300" href="{% url 'sponsor_list' %}">Sponsors</a></span>
                <span><a class="underline hover:bg-yellow-300" href="/brochure/">Tri-Fold Brochure</a></span>
                <span><a class="underline hover:bg-yellow-300" href="/static/docs/Lawrence-Trail-Hawks-Guide-to-Running-Clinton-Lake.pdf">Guide to Running Clinton Lake</a></span>
                <span><a class="underline hover:bg-yellow-300" href="/signup/"><i class="fa fa-plus-circle"></i> Join Us</a></span>
                <span><a class="underline hover:bg-yellow-300" href="/contact/"><i class="fa fa-envelope"></i> Contact us</a></span>
                <span><a class="underline hover:bg-yellow-300" href="{% url 'about' %}">About</a></span>
                <span><a class="underline hover:bg-yellow-300" href="https://www.facebook.com/home.php#/group.php?gid=91186762641&amp;ref=ts"><i class="fa fa-facebook"></i></a></span>
                <span><a class="underline hover:bg-yellow-300" href="https://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr"></i></a></span>
                <span><a class="underline hover:bg-yellow-300" href="https://github.com/organizations/TrailHawks"><i class="fa fa-github"></i></a></span>
            </div>
        </nav>
    </div>
{% endblock navbar %}


{% block content-wrapper %}
    <div class="container p-2 divide-y divide-red-950 flex flex-col gap-8">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock content-wrapper %}


{% block footer %}
    <div class="flex flex-auto gap-4 border-t-2 border-red-950 py-8">
        <div class="w-1/3">
            <ul class="list-unstyled">
                <li><a class="underline" href="/signup/"><i class="fa fa-plus-circle"></i> Join Us</a></li>
                <li><a class="underline" href="/contact/"><i class="fa fa-envelope"></i> Contact us</a></li>
                <li><a class="underline" href="http://www.trailhawks.store"><i class="fa fa-plus-circle"></i> www.trailhawks.store</a></li>
                <li><a class="underline" href="https://www.facebook.com/home.php#/group.php?gid=91186762641&amp;ref=ts"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a class="underline" href="https://www.instagram.com/trail.hawks/"><i class="fa fa-instagram"></i> Instagram</a></li>
                <li><a class="underline" href="https://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr"></i> Flickr</a></li>
                <li><a class="underline" href="https://github.com/organizations/TrailHawks"><i class="fa fa-github"></i> GitHub</a></li>
            </ul>
        </div>
        <div class="w-1/3">
            <ul class="list-unstyled">
                {# Upcoming races #}
                {% get_latest_races as latest_races %}
                <li><strong>{{ latest_races.count|intcomma }}</strong> upcoming races</li>

                {# Past races #}
                {% get_past_races as past_races %}
                <li><strong>{{ past_races.count|intcomma }}</strong> past races</li>

                {# Total members #}
                {% get_active_members as active_members %}
                <li><strong>{{ active_members.count|intcomma }}</strong> members</li>

                {# Total racers #}
                {% get_all_racers as racers %}
                <li><strong>{{ racers.count|intcomma }}</strong> racers</li>

                {# Total results #}
                {% get_all_results as results %}
                <li><strong>{{ results.count|intcomma }}</strong> results</li>
            </ul>
        </div>
    </div>
    <div class="flex flex-auto py-8 border-t-2 border-red-950">
        <div class="w-full text-center">
            <p>&copy; 2009-{% now "Y" %} <a class="underline" href="https://trailhawks.com/">Lawrence Trail Hawks</a>. All rights reserved. v{% get_version %}</p>
        </div>
    </div>
{% endblock footer %}
