{% extends "base_tailwind.html" %}

{% load core_tags %}
{% load humanize %}
{% load members_tags %}
{% load race_tags %}
{% load run_tags %}
{% load static %}

{% block navbar %}
    <div class="border-2 border-red-900 p-2">
        <div class="container border-2 border-red-900">
            <nav class="flex flex-auto content-between items-center" role="navigation">
                <div class="container p-2">
                    <div class="border-2 border-blue-800">
                        <a class="pt-1 pb-1 mr-4 text-lg whitespace-no-wrap" href="/"><img src="{% static 'img/hawk-head-24.png' %}" height="22"> Lawrence Trail Hawks</a>
                    </div>
                    <div class="border-2 border-blue-800 flex flex-auto gap-3">
                        <span><a class="underline" href="{% url 'race_index' %}">Races &amp; Events</a></span>
                        <span><a class="underline" href="{% url 'run_list' %}">Group Runs</a></span>
                        <span><a class="underline" href="{% url 'blog_list' %}">Blog</a></span>
                        <span><a class="underline" href="{% url 'link_list' %}">Links</a></span>
                        <span><a class="underline" href="{% url 'member_list' %}">Members</a></span>
                        <span><a class="underline" href="{% url 'sponsor_list' %}">Sponsors</a></span>
                        <span><a class="underline" href="/brochure/">Tri-Fold Brochure</a></span>
                        <span><a class="underline" href="/static/docs/Lawrence-Trail-Hawks-Guide-to-Running-Clinton-Lake.pdf">Guide to Running Clinton Lake</a></span>
                        <span><a class="underline" href="/signup/"><i class="fa fa-plus-circle"></i> Join Us</a></span>
                        <span><a class="underline" href="/contact/"><i class="fa fa-envelope"></i> Contact us</a></span>
                        <span><a class="underline" href="{% url 'about' %}">About</a></span>
                        <span><a class="underline" href="https://www.facebook.com/home.php#/group.php?gid=91186762641&amp;ref=ts"><i class="fa fa-facebook"></i></a></span>
                        <span><a class="underline" href="https://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr"></i></a></span>
                        <span><a class="underline" href="https://github.com/organizations/TrailHawks"><i class="fa fa-github"></i></a></span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock navbar %}


{% block content-wrapper %}
    <div class="container border-2 border-red-900 p-2">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock content-wrapper %}


{% block footer %}
    <div class="flex flex-auto gap-2">
        <div class="w-1/3">
            <ul class="list-unstyled">
                <li><a class="underline" href="/signup/"><i class="fa fa-plus-circle"></i> Join Us</a></li>
                <li><a class="underline" href="/contact/"><i class="fa fa-envelope"></i> Contact us</a></li>
                <li><a class="underline" href="http://www.trailhawks.store"><i class="fa fa-plus-circle"></i> www.trailhawks.store</a></li>
                <li><a class="underline" href="https://www.facebook.com/home.php#/group.php?gid=91186762641&amp;ref=ts"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a class="underline" href="https://www.instagram.com/trail.hawks/"><i class="fa fa-instagram"></i> Instagram</a></li>
                <li><a class="underline" href="https://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr"></i> Flickr</a></li>
                <li><a class="underline" href="https://github.com/organizations/TrailHawks"><i class="fa fa-github"></i> Github</a></li>
            </ul>
        </div>
        <div class="w-1/3">
            <ul class="list-unstyled">
                {# Upcoming races #}
                {% get_latest_races as latest_races %}
                <li><strong>{{ latest_races.count|intcomma }}</strong> upcoming races</li>

                {# Past races #}
                {% get_past_races as past_races %}
                <li><strong>{{ past_races.count|intcomma }}</strong> past races</li>

                {# Total members #}
                {% get_active_members as active_members %}
                <li><strong>{{ active_members.count|intcomma }}</strong> members</li>

                {# Total racers #}
                {% get_all_racers as racers %}
                <li><strong>{{ racers.count|intcomma }}</strong> racers</li>

                {# Total results #}
                {% get_all_results as results %}
                <li><strong>{{ results.count|intcomma }}</strong> results</li>
            </ul>
        </div>
        <div class="w-1/3">
            <a class="underline" href="https://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django."></a>
            <a class="underline" href="https://www.rrca.org"><img src="https://www.rrca.org/images/hero/2010_RRCA_Logo_small.jpg" border="0" alt="RRCA" class="right" height="80"></a>
        </div>
    </div>
    <div class="flex flex-auto">
        <div class="w-full text-center">
            <p>&copy; 2009-{% now "Y" %} <a class="underline" href="https://trailhawks.com/">Lawrence Trail Hawks</a>. All rights reserved. v{% get_version %}</p>
        </div>
    </div>
{% endblock footer %}
