{% extends "layouts/tailwind.html" %}

{% load core_tags %}
{% load humanize %}
{% load members_tags %}
{% load race_tags %}
{% load run_tags %}
{% load static %}

{% block navbar %}
    <div class="p-2">
        <nav class="relative" role="navigation">
            <!-- Desktop Menu -->
            <div class="flex flex-row items-center justify-between">
                <div class="flex items-center">
                    <img class="h-16 md:h-20" src="{% static 'img/hawk-head.png' %}">
                    <a href="/" class="ml-2">
                        <span class="font-bold text-3xl md:text-5xl lg:text-7xl text-red-950">Lawrence Trail Hawks</span>
                    </a>
                </div>
                <!-- Mobile menu button -->
                <button id="mobile-menu-button" class="md:hidden p-2 bg-red-100 rounded">
                    <i class="fa fa-bars text-xl text-red-950"></i>
                </button>
            </div>

            <!-- Desktop navigation links -->
            <div class="hidden md:block mt-3 text-red-950">
                <!-- Desktop menu container with responsive behavior -->
                <div class="desktop-menu-container flex flex-wrap lg:flex-row gap-3">
                    <!-- Main navigation section -->
                    <div class="menu-section flex flex-wrap gap-3">
                        <span><a class="underline hover:bg-yellow-300 px-1" href="{% url 'race_index' %}">Races &amp; Events</a></span>
                        <span><a class="underline hover:bg-yellow-300 px-1" href="{% url 'run_list' %}">Group Runs</a></span>
                        <span><a class="underline hover:bg-yellow-300 px-1" href="{% url 'blog_list' %}">Blog</a></span>
                        <span><a class="underline hover:bg-yellow-300 px-1" href="{% url 'link_list' %}">Links</a></span>
                        <span><a class="underline hover:bg-yellow-300 px-1" href="{% url 'member_list' %}">Members</a></span>
                        <span><a class="underline hover:bg-yellow-300 px-1" href="{% url 'sponsor_list' %}">Sponsors</a></span>
                    </div>

                    <!-- Secondary navigation and documents -->
                    <div class="menu-section flex flex-wrap gap-3">
                        <span><a class="underline hover:bg-yellow-300 px-1" href="/brochure/">Tri-Fold Brochure</a></span>
                        <span><a class="underline hover:bg-yellow-300 px-1" href="/static/docs/Lawrence-Trail-Hawks-Guide-to-Running-Clinton-Lake.pdf">Guide to Clinton Lake</a></span>
                    </div>

                    <!-- Action items and social -->
                    <div class="menu-section flex flex-wrap gap-3">
                        <span><a class="underline hover:bg-yellow-300 px-1" href="/signup/"><i class="fa fa-plus-circle"></i> Join Us</a></span>
                        <span><a class="underline hover:bg-yellow-300 px-1" href="/contact/"><i class="fa fa-envelope"></i> Contact</a></span>
                        <span><a class="underline hover:bg-yellow-300 px-1" href="{% url 'about' %}">About</a></span>
                        <span class="flex gap-2">
                            <a class="hover:bg-yellow-300 px-1" href="https://www.facebook.com/home.php#/group.php?gid=91186762641&amp;ref=ts"><i class="fa fa-facebook"></i></a>
                            <a class="hover:bg-yellow-300 px-1" href="https://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr"></i></a>
                            <a class="hover:bg-yellow-300 px-1" href="https://github.com/organizations/TrailHawks"><i class="fa fa-github"></i></a>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Mobile navigation menu (hidden by default) -->
            <div id="mobile-menu" class="hidden md:hidden mt-2 flex flex-col bg-white border border-red-200 rounded shadow-lg p-4">
                <a class="py-2 border-b border-red-100 hover:bg-yellow-100" href="{% url 'race_index' %}">Races &amp; Events</a>
                <a class="py-2 border-b border-red-100 hover:bg-yellow-100" href="{% url 'run_list' %}">Group Runs</a>
                <a class="py-2 border-b border-red-100 hover:bg-yellow-100" href="{% url 'blog_list' %}">Blog</a>
                <a class="py-2 border-b border-red-100 hover:bg-yellow-100" href="{% url 'link_list' %}">Links</a>
                <a class="py-2 border-b border-red-100 hover:bg-yellow-100" href="{% url 'member_list' %}">Members</a>
                <a class="py-2 border-b border-red-100 hover:bg-yellow-100" href="{% url 'sponsor_list' %}">Sponsors</a>
                <a class="py-2 border-b border-red-100 hover:bg-yellow-100" href="/brochure/">Tri-Fold Brochure</a>
                <a class="py-2 border-b border-red-100 hover:bg-yellow-100" href="/static/docs/Lawrence-Trail-Hawks-Guide-to-Running-Clinton-Lake.pdf">Guide to Running Clinton Lake</a>
                <a class="py-2 border-b border-red-100 hover:bg-yellow-100" href="/signup/"><i class="fa fa-plus-circle"></i> Join Us</a>
                <a class="py-2 border-b border-red-100 hover:bg-yellow-100" href="/contact/"><i class="fa fa-envelope"></i> Contact us</a>
                <a class="py-2 border-b border-red-100 hover:bg-yellow-100" href="{% url 'about' %}">About</a>
                <div class="py-2 flex gap-4">
                    <a class="hover:text-red-600" href="https://www.facebook.com/home.php#/group.php?gid=91186762641&amp;ref=ts"><i class="fa fa-facebook fa-lg"></i></a>
                    <a class="hover:text-red-600" href="https://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr fa-lg"></i></a>
                    <a class="hover:text-red-600" href="https://github.com/organizations/TrailHawks"><i class="fa fa-github fa-lg"></i></a>
                </div>
            </div>
        </nav>
    </div>
{% endblock navbar %}


{% block content-wrapper %}
    <div class="container p-2 divide-y divide-red-950 flex flex-col gap-8">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock content-wrapper %}


{% block footer %}
    <div class="flex flex-col md:flex-row gap-8 border-t-2 border-red-950 py-8">
        <div class="w-full md:w-1/3">
            <ul class="list-none space-y-2">
                <li><a class="underline hover:bg-yellow-300" href="/signup/"><i class="fa fa-plus-circle"></i> Join Us</a></li>
                <li><a class="underline hover:bg-yellow-300" href="/contact/"><i class="fa fa-envelope"></i> Contact us</a></li>
                <li><a class="underline hover:bg-yellow-300" href="http://www.trailhawks.store"><i class="fa fa-plus-circle"></i> www.trailhawks.store</a></li>
                <li class="mt-4">
                    <div class="flex gap-4">
                        <a class="text-2xl hover:text-red-600" href="https://www.facebook.com/home.php#/group.php?gid=91186762641&amp;ref=ts"><i class="fa fa-facebook"></i></a>
                        <a class="text-2xl hover:text-red-600" href="https://www.instagram.com/trail.hawks/"><i class="fa fa-instagram"></i></a>
                        <a class="text-2xl hover:text-red-600" href="https://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr"></i></a>
                        <a class="text-2xl hover:text-red-600" href="https://github.com/organizations/TrailHawks"><i class="fa fa-github"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="w-full md:w-1/3">
            <ul class="list-none space-y-2">
                {# Upcoming races #}
                {% get_latest_races as latest_races %}
                <li><strong>{{ latest_races.count|intcomma }}</strong> upcoming races</li>

                {# Past races #}
                {% get_past_races as past_races %}
                <li><strong>{{ past_races.count|intcomma }}</strong> past races</li>

                {# Total members #}
                {% get_active_members as active_members %}
                <li><strong>{{ active_members.count|intcomma }}</strong> members</li>

                {# Total racers #}
                {% get_all_racers as racers %}
                <li><strong>{{ racers.count|intcomma }}</strong> racers</li>

                {# Total results #}
                {% get_all_results as results %}
                <li><strong>{{ results.count|intcomma }}</strong> results</li>
            </ul>
        </div>
    </div>
    <div class="flex flex-auto py-4 border-t-2 border-red-950">
        <div class="w-full text-center">
            <p>&copy; 2009-{% now "Y" %} <a class="underline hover:bg-yellow-300" href="https://trailhawks.com/">Lawrence Trail Hawks</a>. All rights reserved. v{% get_version %}</p>
        </div>
    </div>
{% endblock footer %}
