{% extends "flatpages/default.html" %}

{% load markdownify %}
{% load race_tags %}
{% load sponsors_tags %}

{% block content %}

    <div class="prose-xl prose-a:underline prose-a:bg-yellow-300 prose-a:px-1">
        {{ block.super }}
    </div>

    <section id="sponsors">
        {% get_race_by_slug slug='the-hawk-fourteenth-annual' as race %}
        {% get_sponsors_for_object race as sponsor_list %}
        {% if sponsor_list %}
            <div class="flex flex-auto">
                <div class=" md:w-full">
                    <h2 class="text-4xl font-bold"><a name="sponsors"></a>Sponsors
                    </h2>
                </div>
            </div>

            <div class="flex flex-auto">
                {% for sponsor in sponsor_list %}
                    <div class="md:w-1/2">
                        <h3 class="text-2xl">{{ sponsor.name }}</h3>
                        <a href="{{ sponsor.url }}">
                            <img class="img-responsive" src="{{ sponsor.logo.url }}" />
                        </a>
                    </div>

                    {% if forloop.counter|divisibleby:2 %}</div><div class="flex flex-auto">{% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </section>

{% endblock content %}
