name: CI

on:
  pull_request:
  push:
    branches:
      main

jobs:
  build:
    name: Git checkout on push
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - name: Git - Get Sources
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
